* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Page 1 Section Start */

#page1 {
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 2vw;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

#nav-menu {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#nav-menu h4 {
    padding: 0.625vw 1.5vw;
    border: 1px solid rgba(11, 5, 0, .2);
    border-radius: 100vw;
    font-weight: 400;
    position: relative;
    font-size: 1.25vw;
    transition: all ease 0.2s;
    overflow: hidden;
}

#nav-menu h4 a {
    color: #0b0500;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-menu h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0b0500;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.2s;
}

#nav-menu h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-menu h4:hover a {
    color: #efeae3;
}

nav>h4 {
    display: none;
}

#menu-click {
    height: 100vh;
    width: 100%;
    background-color: rgba(11, 5, 0, 0.5);
    position: fixed;
    z-index: 9;
    top: -100%;
    transition: all ease 400ms;
}

#menu {
    height: 50%;
    width: 100%;
    background-color: #efeae3;
    border-bottom-right-radius: 5.875vw;
    border-bottom-left-radius: 1.875em;
    padding: 7.5vw 3.25vw;
    text-align: end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

#menu h4 {
    font-size: 10.5vw;
    line-height: 1.1;
    letter-spacing: -0.6vw;
    bottom: 0;
}

#center {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 3.75vw;
    margin-top: 9.625vw;
}

#left h3 {
    width: 26vw;
    font-size: 1.75vw;
    font-family: sans-serif;
    line-height: 1;
    letter-spacing: -0.03vw;
}

#right h1 {
    font-size: 10vw;
    line-height: .8;
    letter-spacing: -0.03vw;
    text-align: right;
    color: #0b0500;
}

#page1 video {
    height: 100%;
    width: 100%;
    margin-top: 3.75vw;
    border-radius: 20px;
}

/* Page 1 Section End */

/* Page 2 Section Start */

#page2 {
    width: 100%;
    background-color: #efeae3;
}

#moving-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 6.25vw;

}

#moving-container::-webkit-scrollbar {
    display: none;
}

#moving-text {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 12.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 8.75vw;
    letter-spacing: -0.03vw;
    display: inline-block;
}

#moving-icon {
    height: 3.75vw;
    width: 3.75vw;
    background-color: #fe330a;
    display: inline-block;
    border-radius: 50%;
    margin: 1vw 1.75vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-content {
    width: 100%;
    margin-top: 8.75vw;
    padding: 0 5.625vw;
    display: flex;
    justify-content: space-between;
}

#page2-content h1 {
    width: 64%;
    font-size: 4.25vw;
    color: #0b0500;
    line-height: 1;
}

#content2 {
    width: 25%;
    margin-top: 8.75vw;
}

#content2 img {
    width: 100%;
    border-radius: 8px;
}

#content2 p {
    color: #0b0500;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 3vw;
}

/* Page 2 Section End */

/* Page 3 Section Start */

#page3 {
    width: 100%;
    background-color: #efeae3;
    padding: 8.75vw 0 0 0;
}

#featured_projects {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 0 3.75vw 2vw 2vw;
}

#red-dot {
    width: 8px;
    height: 8px;
    background-color: #fe330a;
    border-radius: 100vw;
}

#featured_projects p {
    font-size: 1vw;
}

.projects {
    max-height: 118.4px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.75vw 2vw;
    border-bottom: 1px solid rgba(11, 5, 0, 0.2);
    overflow: hidden;
}

.projects .overlay {
    width: 100%;
    position: absolute;
    background-color: orange;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.projects h2 {
    font-size: 3.25vw;
    position: relative;
    z-index: 9;
}

.projects:hover .overlay {
    top: 0;
}

#fixed-img {
    height: 28.5vw;
    width: 22.5vw;
    display: none;
    position: fixed;
    z-index: 9;
    border-radius: 1vw;
    left: 50%;
    top: 25%;
    background-size: cover;
    background-position: center;
}

#all-proj {
    display: flex;
    align-items: center;
    padding: 3.75vw 2vw 0;
}

#all-proj h4 {
    display: flex;
    align-items: center;
    gap: .625vw;
    padding: 0.625vw 1.5vw;
    border: 1px solid rgba(11, 5, 0, .2);
    border-radius: 100vw;
    font-weight: 400;
    position: relative;
    font-size: 1.25vw;
    transition: all ease 0.2s;
    overflow: hidden;
}

#all-proj h4 a {
    color: #0b0500;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#all-proj h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0b0500;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.2s;
}

#all-proj h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#all-proj h4:hover a {
    color: #efeae3;
}

#all-proj h4:hover svg path {
    stroke: #efeae3;
}

#all-proj h4 svg {
    position: relative;
    z-index: 9;
}

/* Page 3 Section End */

/* Page 4 Section Start */

#page4 {
    width: 100%;
    background-color: #efeae3;
    padding: 8.75vw 2vw 0 2vw;
}

#page4-container {
    width: 100%;
    display: flex;
    background-color: #0b0500;
    color: #efeae3;
    border-radius: 1.55vw;
}

#left-cont {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vw;
    align-items: center;
}

#left-cont h1 {
    border-left: 3px solid #fe330a;
    padding: 0 0 0 1vw;
    max-width: 25vw;
    padding-right: 3.5vw;
    font-size: 4.25vw;
    line-height: 1.08;
}

#left-cont .gray {
    opacity: .3;
    border-left: 3px solid rgba(239, 234, 227, .8);
}

#left-cont p {
    max-width: 25vw;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
}

#right-cont {
    width: 55%;
    border-radius: 1.55vw;
    overflow: hidden;
}

#right-cont img {
    height: 100%;
    width: 100%;
    transform: translate3d(0px, -4.7904%, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

/* Page 4 Section End */

/* Page 5 Section Start */

#page5 {
    width: 100%;
    background-color: #efeae3;
}

#swiper-heading {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 8.75vw 5.625vw 5vw 5.625vw;
}

#red-dot1 {
    width: 8px;
    height: 8px;
    background-color: #fe330a;
    border-radius: 100vw;
}

#swiper-heading p {
    font-size: 1vw;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0 5.625vw 8.75vw;
}

.swiper-slide {
    border-left: 1px solid rgba(0, 0, 0, .2);
    gap: 1.5vw;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5vw;
    display: flex;
}

.swiper-slide p {
    color: #0b0500;
    font-weight: 400;
    line-height: 1.4;
}

.swiper-slide img {
    width: 70%;
}

/* Page 5 Section End */

/* Footer Section Start */

#footer {
    width: 100%;
    background-color: #0b0500;
    color: #efeae3;
}

#footer-top {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 11.25vw 5.625vw 0 5.625vw;
    display: flex;
}

#top-left {
    gap: 0.796vw;
    flex-direction: column;
    display: flex;
}

#top-left a {
    color: #efeae3;
    letter-spacing: -.03em;
    font-size: 2vw;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    transition: opacity 0.2s;
}

#top-left a:hover {
    opacity: .7;
}

#top-right {
    gap: 1.75vw;
    max-width: 20em;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

#top-right p {
    font-size: 1.25vw;
    line-height: 1.3;
}

#top-right form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#top-right form input {
    width: 100%;
    color: #efeae3;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(239, 234, 227, .3);
    padding: 0.75vw 0;
    font-size: 1.15vw;
    outline: none;
}

#top-right form button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(239, 234, 227, .3);
    padding: 0.75vw 0;
    outline: none;
}

#footer img {
    width: 100%;
    padding: 6.25vw 2vw 2.5vw 2vw;
}

#footer-bottom {
    z-index: 2;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    position: relative;
    border-top: 1px solid rgba(239, 234, 227, .3);
    padding: 1.75vw 0;
    margin-left: 2vw;
    margin-right: 2vw;
}

#footer-bottom p {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.4;
}

#footer-bottom .global {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375vw;
}

/* Footer Section End */

/* Responsiveness Start */

@media (max-width: 479px) {

    /* Page 1 Section Start */

    #page1 {
        width: 100%;
        padding: 0;
    }

    nav {
        background-color: #efeae3;
        padding: 2em 1.25em 0 1.25em;
    }

    nav img {
        width: 25%;
        transition: all ease 400ms;
    }

    #nav-menu {
        display: none;
    }

    nav>h4 {
        display: block;
        padding: 2.5vw 4.5vw;
        border: 1px solid rgba(11, 5, 0, .2);
        border-radius: 100vw;
        font-weight: 400;
        position: relative;
        font-size: 4vw;
    }

    nav>h4 a {
        color: #0b0500;
        text-decoration: none;
        position: relative;
        z-index: 9;
    }

    #center {
        padding: 0 1.25em 3.75vw 1.25em;
    }

    #center {
        width: 100%;
        align-items: normal;
        justify-content: normal;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 7vw;
        margin-top: 15vw;
        flex-direction: column-reverse;
        gap: 20vw;
    }

    #left h3 {
        width: 60vw;
        font-size: 4.5vw;
        line-height: 1.1;
        letter-spacing: -.3vw;
    }

    #right h1 {
        font-size: 13vw;
    }

    #page1 video {
        height: 90vh;
        width: 90%;
        margin-top: 6.75vw;
        border-radius: 15px;
        margin-left: 5vw;
        object-fit: cover;
    }

    /* Page 1 Section Start */
    /* Page 2 Section Start */

    #moving-text h1 {
        font-size: 10.75vw;
    }

    #page2-content {
        width: 100%;
        margin-top: 10.75vw;
        padding: 0 4vw;
        flex-direction: column;
        justify-content: normal;
    }

    #page2-content h1 {
        width: 100%;
        font-size: 5.5vw;
    }

    #content2 {
        width: 60%;
        margin-top: 10.75vw;
    }

    #content2 p {
        font-size: 3vw;
        margin-top: 7vw;
    }

    /* Page 2 Section End */

    /* Page 3 Section Start */

    #page3 {
        padding: 15.75vw 0 0 0;
    }

    /* Page 3 Section End */

}

/* Responsiveness End */