* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

/* Navbar start */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0 0 0;
}

#navButton {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#navButton h4 {
    padding: 10px 20px;
    border: 1px solid rgba(11, 5, 0, .2);
    border-radius: 50px;
    color: #0b0500;
    transition: all ease .5s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#navButton h4 a {
    color: #0b0500;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#navButton h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease .5s;
}

#navButton h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#navButton h4:hover a {
    color: white;
}

/* Navbar End */

/* Center Content Start */

#center {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 29vw;
    font-size: 1.9vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

/* Center Content End */

/* Video Section Start */

#page1 video {
    width: 100%;
    margin-top: 4vw;
    border-radius: 20px;
}

/* Video Section End */

#page2 {
    min-height: 40vh;
    width: 100%;
    background-color: #efeae3;
    padding: 7.25vw 0 0 0;
    position: relative;
}

/* Moving Text Section Start */

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    font-size: 8.75vw;
    display: inline-block;
}

.container {
    white-space: nowrap;
    display: inline-block;
    animation-name: moveText;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.round {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fe330a;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes moveText {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

/* Moving Text Section End */

/* Page2 Bottom Section Start */

#page2-bottom-content {
    height: 80vh;
    width: 100%;
    background-color: #efeae3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
}

#page2-bottom-content h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-content {
    width: 22%;
    margin-top: 25vh;
}

#bottom-content img {
    width: 100%;
    border-radius: 8px;
}

#bottom-content p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

/* Page2 Bottom Section End */